.panel {
  padding:1rem;
  width:100%;
  display:flex;
  flex-direction:column;
}

.pLabel {
  padding-bottom:0.2rem;
  width:52%;
  display:flex;
  align-self:center
}

.password {
  width:60%;
  align-self:center;
}

.conditions {
  width:55%;
  align-self:center
}
